$blue: rgb(0, 0, 255);

// Styliser la liste
ul {
    // Enlever le style par défaut de la liste
    list-style-type: none;
    padding: 0;
    margin: 0;

    // Styliser les éléments de liste
    li {
        color: $blue;
        padding-left: 10px;
        margin-bottom: 15px;
    }
}