body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #FFCC99;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

header h1 {
    font-weight: bold;
    margin: 20px;
}

main {
    display: flex;
    background-color: #E6F2FF;
    margin: 20px; 
}

section {
    flex: 3;
    padding: 20px;
    background-color: white;
    margin: 20px; 
}

aside {
    flex: 1;
    background-color: #B3D9FF;
    padding: 20px;
    border: 1px solid #CCC; 
}

footer {
    background-color: #99CC99;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); 
    border-top: 1px solid #CCC; 
}
